.class-name{
    color:white   ;
    
}

#color-gray {
    color: gray;
  }
  
  #color-black {
    color: black;
  }


  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    height: 100vh;
    background-color: #e0f7fa; /* Azul claro */
  }
  
  .card {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
  }
  
  #color-gray {
    color: gray;
  }
  