.class-name{
    color:white   ;
    
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    height: 100vh;
    /* background-color: #e3e5f8; Azul claro */
  }
  
  .card {
    background-color: #e6eff9; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
  }

  label {
    color: rgb(70, 70, 183); /* Cambia a cualquier color que desees */
}

.gray{
  color: gray;
}
  

